<html>
    <body>
        <div class="container" role="main">
            <div class="page-header">
                <h1>Alta de Médico</h1>
            </div>
        </div>
        <div class="container">
            <form class="form-inline">
                <div class="form-group col-lg-3 col-md-3 col-sm-6">
                    <label for="txtNombre">Nombre: </label>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-6">
                    <input class="form-control" type="text" placeholder="Nombre" name="txtNombre" id="txtNombre" required/>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-6">
                    <label for="txtNombre">Apellido: </label>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-6">
                    <input class="form-control" type="text" placeholder="Apellido" name="txtApellido" id="txtApellido" required/>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-6">
                    <label for="numDNI">DNI: </label>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-6">
                    <input class="form-control" type="number" placeholder="DNI" name="numDNI" id="numDNI" required/>
                </div>

                <div class="form-group col-lg-3 col-sm-6 col-md-3">
                    <label for="selGenero">Genero</label>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-6">

                    <select class="form-control" name="selGenero" id="selGenero" required>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-6">
                    <label for="dateNac">Fecha de Nacimiento: </label>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-6">
                    <input class="form-control" type="date" name="dateNac" id="dateNac" required/>
                </div>

                <div class="form-group col-lg-3 col-md-3 col-sm-6">
                    <label for="txtMail">Mail: </label>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-6">
                    <input class="form-control" type="email" placeholder="Mail" name="txtMail" id="txtMail" required/>
                </div>


                <div class="form-group col-lg-3 col-md-3 col-sm-6">
                    <label for="txtLocalidad">Localidad: </label>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-6">
                    <input class="form-control" type="text" placeholder="Localidad" name="txtLocalidad" id="txtLocalidad" required/>
                </div>

                <div class="form-group col-lg-3 col-md-3 col-sm-6">
                    <label for="txtDireccion">Dirección: </label>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-6">
                    <input class="form-control" type="text" placeholder="Dirección" name="txtDireccion" id="txtDireccion" required/>
                </div>

                <div class="form-group col-lg-3 col-md-3 col-sm-6">
                    <label for="txtNombre">Número de Teléfono: </label>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-6">
                    <input class="form-control" type="number" placeholder="Teléfono" name="numTel" id="numTel" required/>
                </div>

                <div class="form-group col-lg-3 col-md-3 col-sm-6">
                    <label for="numMatric">N° de Matricula: </label>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-6">
                    <input class="form-control" type="number" placeholder="Matricula" name="numMatric" id="numMatric"/>
                </div>

                <div class="form-group col-lg-3 col-md-3 col-sm-6">
                    <label for="selEspecial">Especialidades que atiende</label>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-6">
                    <select class="form-control" id="selEspecial" multiple>
                        <option value="0">Odontología</option>
                        <option value="1">Oftalmología</option>
                        <option value="2">Dermatología</option>
                        <option value="3">Urología</option>
                    </select>
                </div>
                <div class="divider"></div>
                <div class="col-lg-12"><h3>Odontología</h3>
                    <div class="form-group col-lg-2">
                        <label for="selDias1">Días de turnos</label>
                    </div>
                    <div class="form-group col-lg-3">
                        <select class="form-control" name="selDias1" id="selDias1">
                            <option value="0">Lunes</option>
                            <option value="1">Martes</option>
                            <option value="2">Miercoles</option>
                            <option value="3">Jueves</option>
                            <option value="4">Viernes</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="selHora1">Horario de turnos:</label>
                    </div>
                    <div class="form-group col-lg-3">
                        <select class="form-control" name="selHora1" id="selHora1">
                            <option value="0">Horario1</option>
                            <option value="1">Horario2</option>
                            <option value="2">Horario3</option>
                            <option value="3">Horario4</option>
                            <option value="4">Horario5</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </div>
                <div class="col-lg-12"><h3>Oftalmología</h3>
                    <div class="form-group col-lg-2">
                        <label for="selDias2">Días de turnos</label>
                    </div>
                    <div class="form-group col-lg-3">
                        <select class="form-control" name="selDias2" id="selDias2">
                            <option value="0">Lunes</option>
                            <option value="1">Martes</option>
                            <option value="2">Miercoles</option>
                            <option value="3">Jueves</option>
                            <option value="4">Viernes</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="selHora2">Horario de turnos:</label>
                    </div>
                    <div class="form-group col-lg-3">
                        <select class="form-control" name="selHora2" id="selHora2">
                            <option value="0">Horario1</option>
                            <option value="1">Horario2</option>
                            <option value="2">Horario3</option>
                            <option value="3">Horario4</option>
                            <option value="4">Horario5</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </div>
                <div class="col-lg-12"><h3>Dermatología</h3>
                    <div class="form-group col-lg-2">
                        <label for="selDiasN">Días de turnos</label>
                    </div>
                    <div class="form-group col-lg-3">
                        <select class="form-control" name="selDiasN" id="selDiasN">
                            <option value="0">Lunes</option>
                            <option value="1">Martes</option>
                            <option value="2">Miercoles</option>
                            <option value="3">Jueves</option>
                            <option value="4">Viernes</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="selHora">Horario de turnos:</label>
                    </div>
                    <div class="form-group col-lg-3">
                        <select class="form-control" name="selHoraN" id="selHoraN">
                            <option value="0">Horario1</option>
                            <option value="1">Horario2</option>
                            <option value="2">Horario3</option>
                            <option value="3">Horario4</option>
                            <option value="4">Horario5</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </div>
                <div class="form-group col-xs-11 ">
                    <button type="submit" class="btn btn-primary btn-block">Dar de Alta</button>
                </div>
            </form>
        </div>




        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- <script src="http://getbootstrap.com/assets/js/vendor/jquery.min.js"></script>-->
        <script src="js/bootstrap.min.js"></script>
    </body>


</html>
