        <div class="container theme-showcase" role="main">
            <div class="page-header">
                <h1>Buscar Afiliado</h1>
            </div>
            <!-- Modal -->
			<div class="modal fade" id="divInforme" role="dialog">
				<div class="modal-dialog">
				  <!-- Modal content-->
				  <div class="modal-content">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					  <h4 class="modal-title">Informe:</h4>
					</div>
					<div class="modal-body">
					  <p id="pmsj1"></p>
					  <p id="pmsj2"></p>
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				  </div>
				</div>
			</div>
            <div class="row">
                <form id="fBuscar" name="fBuscar" class="form-inline">
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <label for="numDni">Dni:</label>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <input type="number" class="form-control" id="numDni" placeholder="12345678">
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <label for="txtApellido">Apellido:</label>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <input type="text" class="form-control" id="txtApellido" placeholder="Martinez">
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <label for="numNAfiliado">Nº de Afiliado:</label>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <input type="number" class="form-control" id="numNAfiliado" placeholder="12345">
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <label for="txtMail">Email:</label>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <input type="email" class="form-control" id="txtMail" placeholder="jane.doe@example.com">
                    </div>
                    <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
                       <button type="submit" class="form-control btn btn-primary btn-md"><span class="glyphicon glyphicon-search" aria-hidden="true"> Buscar</span></button>
                    </div>
                    
                </form>
            </div>
            <div class="page-header">
                <h2>Resultados de busqueda</h2>
            </div>
            <table class="table table-striped tablesorter" id="tbres">
                <thead>
                    <tr>
                        <th>#ID</th>
                        <th>Nombre y apellido</th>
                        <th>DNI</th>
                        <th>Modificar</th>
                        <th>Turno</th>
                        <th>Bloquear/Habilitar</th>
                    </tr>
                </thead>
                <tbody id="bodyres">
                </tbody>
                
            </table>
            <div id="msj1" class="text-center">
				<h4>Realice una búsqueda para mostrar resultados.</h4>
            </div>
            <div id="msj2" class="text-center">
				<h4>No se encontraron resultados.</h4>
            </div>
            <div class="pager btn-link">
				<ul class="pagination">
					<li class="first glyphicon glyphicon-fast-backward" alt="First"> </li>
					<li class="glyphicon glyphicon-backward prev" alt="Prev"> </li>
					<li class="pagedisplay"></li>
					<li class="glyphicon glyphicon-forward next" alt="Next"> </li>
					<li class="glyphicon glyphicon-fast-forward last" alt="Last"> </li>
				</ul>
            </div>
        </div>
        <script src="js/jquery.tablesorter.js"></script>
        <script src="js/jquery.tablesorter.widgets.js"></script>
        <link rel="stylesheet" href="addons/pager/jquery.tablesorter.pager.css">
		<script src="addons/pager/jquery.tablesorter.pager.js"></script>
        <script src="js/buscar_afiliado.js"></script>
        <script src="js/ver_turno_afi.js"></script>
    </body>
</html>
