<html>
    <body>
        <div class="container theme-showcase" role="main">
            <div class="page-header">
                <h1>Buscar Médico</h1>
            </div>
            <div class="row">
                <form class="form-inline">
                    <div class="form-group col-lg-3">
                        <label for="selEspecialidad">Especialidad:</label>
                    </div>
                    <div class="form-group col-lg-9">
                        <select class="form-control" id="selEspecialidad" name="selEspecialidad">
                            <option value="0">Especialidad 1</option>
                            <option value="1">Especialidad 2</option>
                            <option value="2">Especialidad ...</option>
                            <option value="3">Especialidad N</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="page-header">
                <h2>Resultados de busqueda</h2>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre y apellido</th>
                        <th>Matrícula</th>
                        <th>Modificar</th>
                        <th>Baja</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mark</td>
                        <td>12.564.897</td>
                        <td><p data-placement="top" data-toggle="tooltip" title="modificar datos"><button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                        <td><a href="#"><button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-ban-circle"></span></button></a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jacob</td>
                        <td>25.235.568</td>
                        <td><p data-placement="top" data-toggle="tooltip" title="modificar datos"><button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                        <td><a href="#"><button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-ban-circle"></span></button></a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Larry</td>
                        <td>45.258.265</td>
                        <td><p data-placement="top" data-toggle="tooltip" title="modificar datos"><button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                        <td><a href="#"><button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-ban-circle"></span></button></a></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <ul class="pagination text-right">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div><!--CONTAINER -->
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- <script src="http://getbootstrap.com/assets/js/vendor/jquery.min.js"></script>-->
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>