<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Bienvenido a MataSanos S.A.</title>
        <link rel="stylesheet" href="./css/original/bootstrap.min.css">
        <link href="http://bootswatch.com/slate/bootstrap.min.css" rel="stylesheet">
        <link href="./css/estilo.css" rel="stylesheet">
        <script src="js/jquery.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/login.js"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">MATASANOS S.A.</a>
                    </div>
             
                </div>
            </nav>
        </header>
        <div class="container">
			<!-- Modal -->
			<div class="modal fade" id="divErrores" role="dialog">
				<div class="modal-dialog">

				  <!-- Modal content-->
				  <div class="modal-content">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					  <h4 class="modal-title">¡ATENCIÓN!</h4>
					</div>
					<div class="modal-body">
					  <p>Se han encontrado errores.</p>
					  <p>Por favor, revise el formulario. </p>
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-default" data-dismiss="modal">cerrar</button>
					</div>
				  </div>
				</div>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="divConerr" role="dialog">
				<div class="modal-dialog">

				  <!-- Modal content-->
				  <div class="modal-content">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					  <h4 class="modal-title">¡ATENCIÓN!</h4>
					</div>
					<div class="modal-body">
					  <p>No se ha podido iniciar sesion.</p>
					  <p>Por favor, inténtelo mas tarde.</p>
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-default" data-dismiss="modal">cerrar</button>
					</div>
				  </div>
				</div>
			</div>
            <div class="row">
                <div class="Absolute-Center is-Responsive">
                    <div class="text-center"><h1>Iniciar Sesión</h1></div>
                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                        <form action="" id="fLogin" name="fLogin" method="POST">
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input class="form-control" type="email" id='txtMail' name='txtMail' placeholder="mail" required/>          
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input class="form-control" type="password" id='txtPass' name='txtPass' placeholder="Contraseña" required/>     
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-block" value="Logearse"/>
                            </div>
                        </form>        
                    </div>  
                </div>    
            </div>
        </div>
    </body>
</html>
