        <div class="container" role="main">
            <div class="page-header">
                <h1>Modificar Datos de Médico</h1>
            </div>
        </div>
            <div class="container">
                <form class="form-inline" id="actualizarForm" action="./conexiones/actualizar_medico.php" method="POST">
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <label for="txtNombre">Nombre: </label>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <input class="form-control" type="text" placeholder="Nombre" name="txtNombre" id="txtNombre" value="" required/>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <label for="txtNombre">Apellido: </label>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <input class="form-control" type="text" placeholder="Apellido" name="txtApellido" id="txtApellido" value="" required/>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <label for="numDNI">DNI: </label>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <input class="form-control" type="number" placeholder="DNI" name="numDNI" id="numDNI" value="" required/>
                    </div>

                    <div class="form-group col-lg-3 col-sm-6 col-md-3">
                        <label for="selGenero">Genero</label>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">

                        <select class="form-control" name="selGenero" id="selGenero" required>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <label for="dateNac">Fecha de Nacimiento: </label>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <input class="form-control" type="date" name="dateNac" id="dateNac" required/>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <label for="txtMail">Mail: </label>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <input class="form-control" type="email" placeholder="Mail" name="txtMail" id="txtMail" value="" required/>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <label for="txtLocalidad">Localidad: </label>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <input class="form-control" type="text" placeholder="Localidad" name="txtLocalidad" id="txtLocalidad" value="" required/>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <label for="txtDireccion">Dirección: </label>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <input class="form-control" type="text" placeholder="Dirección" name="txtDireccion" id="txtDireccion" value="" required/>
                    </div>

                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <label for="txtNombre">Número de Teléfono: </label>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <input class="form-control" type="number" placeholder="Teléfono" name="numTel" id="numTel" value="" required/>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <label for="numMatric">N° de Matricula: </label>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6">
                        <input class="form-control" type="number" placeholder="Matricula" name="numMatric" id="numMatric" value="" required/>
                    </div>
                    <div class="form-group col-lg-4 col-sm-4 col-md-4">
                        <input type="submit" class="btn btn-primary btn-block" value="Modificar Datos"/>
                    </div>
                    <div class="form-group col-lg-2 col-sm-2 col-md-2">
                        <input type="reset" class="btn btn-default btn-block" value="Limpiar"/>
                    </div>
                </form>
                <div class="modal fade" id="divModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" id="modalTitle"></h4>
                            </div>
                            <div class="modal-body" id="modalDesc">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    



        <script src="./js/modificar_medico.js"></script>
    </body>


</html>
