<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>MataSanos S.A.</title>
        <link rel="stylesheet" href="./css/original/bootstrap.min.css">
        <link href="./css/bootstrap.min.css" rel="stylesheet">
        <link href="./css/estilo.css" rel="stylesheet">
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/logout.js"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">MATASANOS S.A.</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="index.php">INICIO<span class="sr-only">(current)</span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acciones<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Administrativo</li>
                                    <li><a href="alta_medico.php">Dar de alta Médico</a></li>
                                    <li><a href="alta_operador.php">Dar de alta Operador Teléfonico</a></li>
                                    <li><a href="buscar_medico.php">Buscar Médico</a></li>
                                    <li><a href="buscar_afiliado.php">Buscar Afiliado</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mi cuenta<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"></a></li>
                                    <li><a href="javascript:logout()">Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
							<li><p class="navbar-text"><a href="#" class="navbar-link"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <?php if(isset($_SESSION['nombre'])){echo $_SESSION['nombre'];}?></a> (Administrativo)</p></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
