        <div class="container theme-showcase" role="main">
            <div class="page-header">
                <h1>Turnos Reservados</h1>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Médico</th>
                        <th>Horario</th>
                        <th>Cancelar</th>
                    </tr>
                </thead>
                <tbody id="descTabla">
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="divModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modalTitle"></h4>
                    </div>
                    <div class="modal-body" id="modalDesc">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="./js/turnos_disponibles.js"></script>
    </body>
</html>
