        <div class="container theme-showcase" role="main">
            <div class="page-header">
                <h1>Turnos Reservados</h1>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Médico</th>
                        <th>Horario</th>
                        <th>Cancelar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fecha 1</td>
                        <td>Médico 1</td>
                        <td>hh:mm</td>
                        <td><button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-ban-circle"></span></button></td>
                    </tr>
                    <tr>
                        <td>Fecha 2</td>
                        <td>Médico 2</td>
                        <td>hh:mm</td>
                        <td><button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-ban-circle"></span></button></td>
                    </tr>
                    <tr>
                        <td>Fecha 3</td>
                        <td>Médico 3</td>
                        <td>hh:mm</td>
                        <td><button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-ban-circle"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
